name: Deploy Next.js App to AWS EC2 and Start with PM2 asdad
on:
  push:
    branches:
      - ci-cd

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build and Export Next.js app
        run: |
          npm run build
          zip -r app.zip .next

      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: nextjs-build
          path: ./app.zip

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: nextjs-build
          path: ./

      - name: Debug SSH Private Key
        run: echo "${{ secrets.SSH_PRIVATE_KEY }}"

      - name: Copy artifact to server via SCP
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ssh_key.pem
          chmod 600 ssh_key.pem
          scp -i ssh_key.pem -o StrictHostKeyChecking=no ./app.zip ubuntu@13.233.223.26:/home/ubuntu/WebWowZer-NextJs/
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add PM2 to PATH
        run: echo "export PATH=\$PATH:/home/ubuntu/.nvm/versions/node/v18.18.2/bin/pm2" >> $GITHUB_ENV

      - name: SSH into server and perform deployment
        shell: bash
        run: |
          ssh -i ssh_key.pem -o StrictHostKeyChecking=no ubuntu@13.233.223.26 'unzip -o /home/ubuntu/WebWowZer-NextJs/app.zip -d /home/ubuntu/WebWowZer-NextJs/ && pm2 restart webwowzer-nextjs-app'
