name: Deploy Next.js App to AWS EC2 and Start with PM2
on:
  push:
    branches:
      - ci-cd

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      # - name: Build Next.js app
      #   run: npm run build

      - name: Build and Export Next.js app
        run: |
          npm run build
          zip -r app.zip .next

      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: nextjs-build
          path: ./app.zip

      - name: List contents of out directory
        run: ls -a

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-artifacts

      - name: Move build artifacts to project directory
        run: mv .next /home/ubuntu/WebWowZer-NextJs

      - name: restart Next.js app with PM2
        run: pm2 restart webwowzer-nextjs-app
